body {
    background: linear-gradient(90.7deg, rgb(255, 253, 218) 1.9%, rgb(246, 210, 255) 39.3%, rgb(152, 222, 254) 64.7%, rgb(251, 255, 210) 100.8%);
    margin: 8px 40px;
}


h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
}
h2 {
    margin: 0 0 10px;
    font-size: 28px;

}

select {
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    font-size: 18px;
}

footer {
    text-align: center;
    font: 18px;
    color: rgba(0, 0, 0, 0.6);
}

a {
    background-image: linear-gradient(to right,
            #e472d3,
            #4ebce5 50%,
            #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

a:before {
    content: '';
    background: #e472d3;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

a:hover {
    background-position: 0;
}

a:hover::before {
    width: 100%;
}

strong {
    background: -webkit-linear-gradient(#f561e6, #57a6ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.date {
    opacity: 0.7;
}

.container {
    border-radius: 20px;
    max-width: 60%;
    margin: 60px auto;
    background: white;
    padding: 40px;
    box-shadow: 0 29px 52px rgba(0, 0, 0, 0.40), 0 25px 16px rgba(0, 0, 0, 0.20);
    
}

.city {
   display: flex; 
   margin: 10px 0;
justify-content: space-between;
border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
padding: 30px 0;
}

.city:last-child {
    border: none;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
    font-size: 24px;
    line-height: 48px;
    vertical-align: middle;
}
